{% extends "app/base.html" %} {% block content %}
<div>
    {% if news.image %}
    <div class="news-detail-image-container">
        <img
            src="{{ news.image.url }}"
            alt="FANN Logo"
            class="news-detail-image"
            width="50"
            height="50"
        />
    </div>
    {% endif %}
    <h1 class="news-detail-title">{{ news.title }}</h1>
    <div class="news-detail-meta">
        <p>
            <b>Published by:</b> 
            {% if news.user %}
                {{ news.user.username }}
            {% else %}
                Anonymous
            {% endif %}
        </p>
        <p><b>Published on:</b> {{ news.published_date }}</p>
        <div class="news-item-tags">
            {% for tag in news.tags.all %}
                <span class="news-tag">{{ tag.name }}</span>
            {% endfor %}
        </div>
    </div>
    <p class="news-detail-content">{{ news.content|safe }}</p>
    {% if user.is_authenticated %}
    <a href="{% url 'edit_news_post' news.id %}" class="auth-link">Edit Post</a>
    {% endif %}
</div>
{% endblock %}
